body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	color: white;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body, html { 
    width: 100%;
    height: 100%;
}

p{
	margin: 0;
	padding: 0;
}

a { 
    text-decoration: none;
} 

#header {
	padding: 10px 17px;
	background: rgb(33,33,33);
	width: 100%;
	height: 57px;
	position: fixed;
}

#menu {
	background: rgb(33,33,33);
	float: left;
	top: 57px;
	bottom: 0;
	width: 240px;
	position: fixed;
	overflow: hidden;
}

#menu:hover {
	overflow-y: auto;
	overflow-x: hidden;
}

#main {
	background: rgb(24,24,24);
	position: fixed;
	overflow: auto;
	right: 0;
	top: 57px;
	bottom: 0;
	left: 240px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
}

.search {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-button {
	background: url(pic/search-icon.png) no-repeat center left;
	border: none;
	height: 30px;
	width: 65px;
	padding-top: 3px;
	cursor: pointer;
	border-radius: 0 2px 2px 0;
}

.search-line {
	background: rgb(18,18,18);
	color: rgb(215,215,215);
	height: 30px;
	width: 560px;
	border: 1px solid rgb(50,50,50);
    border-radius: 2px 0 0 2px;
	font-size: 17px;
    padding: 2px 7px;
    autocomplete: off;
}

.search-line:focus {
	border: 1px solid rgb(28,98,185);
}

.menu-box {
	float: left;
	height: 30px;
	width: 32px;
	margin-top: 5px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-box {
	float: left;
	height: 30px;
	width: 140px;
	margin-top: 5px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-item {
	width: 240px;
	padding: 12px 0;
	border-bottom: 1px solid rgb(50,50,50);
}

.paper-item {
    display: inline-block;
	text-decoration: none;
	width: 240px;
	height: 40px;
	padding: 10px 20px;
	background: rgb(33,33,33);
	color: white;
}

.paper-item:hover {
	background: rgb(56,56,56);
}

.paper-item-active {
    display: inline-block;
	text-decoration: none;
	width: 240px;
	height: 40px;
	padding: 10px 20px;
	background: rgb(56,56,56);
	color: white;
}

.paper-icon {
	float: left;
	height: 24px;
	width: 48px;
	padding-right: 20px;
}

.p-middle {
	vertical-align: middle;
	display: inline;
}

.paper-title {
	padding-left: 24px;
	padding-bottom: 10px;
	color: rgb(170, 170, 170);
}

.paper-end {
	font-size: 12px;
	padding-left: 24px;
	color: rgb(170, 170, 170);
}

.nav-item {
	float: left;
	height: 36px;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	margin-left: 1px;
	margin-right: 10px;
}

.container {
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 375px);
    justify-content: space-around;
}

.container > div {
	height: 300px;
	width: 360px;
	margin-bottom: 40px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.container > div > img {
	height: 200px;
	width: 360px;
}

.details {
	display: grid;
	grid-template-columns: 50px 310px;
	grid-gap: 0;
}

.chanel-icon {
    height: 36px;
    width: 36px;
    margin-top: 12px;
    margin-right: 12px;
    float: left;
}

.video-info {
	margin-top: 12px;
}

.video-name {
	font-size: 1.0rem;
	padding-bottom: 3px;
}

.chanel-name {
	color: rgb(170, 170, 170);
	width: auto;
}

.chanel-name:hover {
	color: white;
	width: auto;
}

.video-views {
	color: rgb(170, 170, 170);
	float: left;
}

.video-views::after {
    content: "•";
    margin: 0 4px;
}

.video-date {
	color: rgb(170, 170, 170);
}

