.btn {
	width: 40px;
	height: 40px;
}

.res {
	border-top: 1px solid green;
    border-bottom: 1px solid green;
	height: 40px;
	width: 172px;
}

.calculator {
	border: 1px solid blue;
	height:auto;
	width:172px;
}