body {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
  }

body, html { 
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

a { 
    text-decoration: none;
} 

header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
	margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.nav {
    padding-bottom: 1px;
    cursor: pointer;
    color: gray;
}

.active {
    color: black;
    border-bottom: 1px solid black;
}

.album-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: space-evenly;
}

.album-content > div {
	height: 530px;
	width: 380px;
	margin-bottom: 40px;
	margin-left: 10px;
    margin-right: 10px;
    background: black;
}

.album-content > div > img {
	height: 480px;
    width: 380px;
    border: 10px solid black;
}

.photo-info {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.bio-card {
    height: auto;
    width: 950px;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 30%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.name {
    font-size: 60px;
    font-weight: bold;
    padding: 0;
}

.student {
    font-size: 20px;
    color: rgb(70, 70, 70);
    margin-bottom: 30px;
}

.bio-item {
    font-size: 30px;
}

.bio-item::before {
    content: "•";
    margin-right: 5px;
}

.contacts-card {
    height: auto;
    width: 500px;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 30%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.contact-item {
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-item > img {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 15px;
}

.contact-item > a {
    font-size: 30px;
    color: black;
    margin-top: 10px;
    line-height: 45px;
}

.cv-card {
    height: auto;
    width: 1000px;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 30%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.cv-item {
    font-size: 30px;;
}
