.table {
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 40px;
}

td, th {
    height: 30px;
    width: 120px;
}

th {
    cursor: pointer;
    background: orange;
    color: white;
}

p {
    margin-top: 7px;
    margin-bottom: 0;
    padding: 0;
    color: gray;
}

.form-search {
    margin-top: 10px;
}

input[data-rule] {
    margin-bottom: 5px;
    width: 362px;
    height: 29px;
    font-size: 15px;
    padding-left: 3px;
    border: 1px solid gray;
}

input[data-rule]:hover {
    border: 1px solid black;
}

input[data-rule]:focus {
    border: 1px solid black;
}

input[data-rule].valid {
    border: 1px solid green;
}

input[data-rule].invalid {
    border: 1px solid red;
}

h2 {
    margin: 0px;
}

.form-add {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    background: orange;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 27px;
    border: 0;
    font-weight: bold;
}