body {
	margin: 0;
	padding: 0;
	width: auto;
    height: auto;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html { 
    width: 100%;
    height: auto;
}

p{
	margin: 0;
	padding: 0;
}

.header {
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding: 0 5px 0 5px;
}

.page { 
	font-size: 22px;
    font-weight: bold;
    float: left;
    margin-right: 15px;
}

.metro {
	font-size: 22px;
	display: inline-block;
}

.dom {
	font-size: 22px;
	color: orange;
	float: left;
	margin-right: 10px;
}

.date {
	padding-top: 3px;
	font-size: 11px;
	line-height: 10px;
	display: inline-block;
}

.main-content {
	height: auto;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 10px;
	border-bottom: 2px solid green;
}

.img-col {
	margin-right: 20px;
	float:left;
}

.img-col img {
	height: 910px;
	width: 970px;
}

.text-col {
	height: 900px;
	width: 500px;
	display: inline-block;
}

.center {
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.text-cel {
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	border-bottom: 1px dotted black;
	margin-bottom: 10px;
}

.text-cel-last {
	width: 100%;
	height: auto;
}

.headline {
	font-size: 36px;
	font-weight: bold;
	line-height: 35px;
	padding-bottom: 8px;
}

.text {
	font-size: 19px;
	line-height: 19px;
}

.number {
    width: 30px;
    height: 55px;
    font-size: 55px;
    font-weight: bold;
    float: left;
    margin-right: 4px;
    margin-bottom: 2px;
}

.ad-line {
	height: auto;
	width: 100%;
	margin-top: 16px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: space-between;
}

.ad-line div img {
	width: 100%;
	height: 100%
}

.ad1 {
	height: 340px;
	width: 490px;
	border: 2px solid green;
}

.ad2 {
	height: 340px;
	width: 490px;
	border: 2px solid black;
}

.ad3 {
	height: 340px;
	width: 490px;
}

.ad4 {
	height: 340px;
	width: 245px;
}

.ad5 {
	height: 340px;
	width: 490px;
	border: 2px solid green;
}

.ad6 {
	height: 340px;
	width: 730px;
	border: 2px solid black;
}